In [4]:
import pandas as pd
import geopandas as gpd

In [5]:
data= pd.read_csv('01_data_total_unified.csv')
data = gpd.GeoDataFrame(data, geometry= gpd.points_from_xy(data.lng, data.lat)).iloc[:,1:]
data

,precio_m2,superficie_total,categoria,dormitorios,baños,cocheras,colonia,alcaldia,lat,lng,geometry
0,60144.927536,138.0,departamento,2.0,3.0,2.0,Polanco,Miguel Hidalgo,19.437734,-99.192631,POINT (-99.19263 19.43773)
1,1333.333333,900.0,departamento,3.0,3.0,3.0,Bosque de las Lomas,Miguel Hidalgo,19.398926,-99.247449,POINT (-99.24745 19.39893)
2,46308.724832,298.0,departamento,3.0,3.0,3.0,Bosques de las Lomas,Cuajimalpa de Morelos,19.385515,-99.253330,POINT (-99.25333 19.38551)
3,36875.000000,160.0,departamento,3.0,2.0,2.0,Los Cipreses,Coyoacán,19.318965,-99.126558,POINT (-99.12656 19.31897)
4,66573.033708,178.0,departamento,3.0,2.0,2.0,Polanco,Miguel Hidalgo,19.437976,-99.212773,POINT (-99.21277 19.43798)
...,...,...,...,...,...,...,...,...,...,...,...
9423,38108.108108,74.0,departamento,2.0,2.0,1.0,NaN,NaN,19.481584,-99.194961,POINT (-99.19496 19.48158)
9424,53603.603604,111.0,departamento,2.0,2.0,2.0,NaN,NaN,19.324778,-99.214976,POINT (-99.21498 19.32478)
9425,52325.581395,86.0,departamento,2.0,2.0,1.0,NaN,NaN,19.406727,-99.163743,POINT (-99.16374 19.40673)
9426,2842.857143,700.0,departamento,4.0,4.0,8.0,NaN,NaN,19.385515,-99.253330,POINT (-99.25333 19.38551)
9427,80662.983425,181.0,departamento,3.0,4.0,2.0,NaN,NaN,19.443130,-99.201330,POINT (-99.20133 19.44313)

In [6]:
data.to_file("02_data_total_unified.geojson", driver='GeoJSON')