In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data = gpd.read_file('../FINAL PROJECT/01_unifying_data/02_data_total_unified.geojson')
data.head()

,precio_m2,superficie_total,categoria,dormitorios,baños,cocheras,colonia,alcaldia,lat,lng,geometry
0,60144.927536,138.0,departamento,2.0,3.0,2.0,Polanco,Miguel Hidalgo,19.437734,-99.192631,POINT (-99.19263 19.43773)
1,1333.333333,900.0,departamento,3.0,3.0,3.0,Bosque de las Lomas,Miguel Hidalgo,19.398926,-99.247449,POINT (-99.24745 19.39893)
2,46308.724832,298.0,departamento,3.0,3.0,3.0,Bosques de las Lomas,Cuajimalpa de Morelos,19.385515,-99.253330,POINT (-99.25333 19.38551)
3,36875.000000,160.0,departamento,3.0,2.0,2.0,Los Cipreses,Coyoacán,19.318965,-99.126558,POINT (-99.12656 19.31897)
4,66573.033708,178.0,departamento,3.0,2.0,2.0,Polanco,Miguel Hidalgo,19.437976,-99.212773,POINT (-99.21277 19.43798)

In [15]:
colonias = gpd.read_file('raw/coloniascdmx/coloniascdmx.shp')
colonias.head()

,_id,id,nombre,entidad,g_pnt_2,geo_shp,cve_alc,alcaldi,cve_col,secc_cm,secc_pr,geometry
0,1,0,LOMAS DE CHAPULTEPEC,9.0,"19.4228411174,-99.2157935754","{""type"": ""Polygon"", ""coordinates"": [[[-99.2201...",16,MIGUEL HIDALGO,16-042,"4924, 4931, 4932, 4935, 4936, 4940, 4987","4923, 4937, 4938, 4939, 4942","POLYGON ((-99.22017 19.42803, -99.22009 19.428..."
1,2,1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),9.0,"19.4106158914,-99.2262487268","{""type"": ""Polygon"", ""coordinates"": [[[-99.2296...",16,MIGUEL HIDALGO,16-044,4963,4964,"POLYGON ((-99.22967 19.41406, -99.22970 19.413..."
2,3,2,DEL BOSQUE (POLANCO),9.0,"19.4342189235,-99.2094037513","{""type"": ""Polygon"", ""coordinates"": [[[-99.2082...",16,MIGUEL HIDALGO,16-026,None,"4918, 4919","POLYGON ((-99.20821 19.43282, -99.20813 19.432..."
3,4,3,PEDREGAL DE SANTA URSULA I,9.0,"19.314862237,-99.1477954505","{""type"": ""Polygon"", ""coordinates"": [[[-99.1458...",3,COYOACAN,03-135,"433, 500, 431, 513, 501","424, 425, 426, 430, 499","POLYGON ((-99.14587 19.31979, -99.14579 19.319..."
4,5,4,AJUSCO I,9.0,"19.324571116,-99.1561602234","{""type"": ""Polygon"", ""coordinates"": [[[-99.1585...",3,COYOACAN,03-128,"376, 377, 378, 379, 404, 493, 498",374,"POLYGON ((-99.15854 19.33038, -99.15785 19.329..."

In [16]:
data = gpd.overlay(data, colonias, how='intersection')

In [17]:
data.columns

Index(['precio_m2', 'superficie_total', 'categoria', 'dormitorios', 'baños',
       'cocheras', 'colonia', 'alcaldia', 'lat', 'lng', '_id', 'id', 'nombre',
       'entidad', 'g_pnt_2', 'geo_shp', 'cve_alc', 'alcaldi', 'cve_col',
       'secc_cm', 'secc_pr', 'geometry'],
      dtype='object')

In [18]:
data = data[['precio_m2', 'superficie_total', 'categoria', 'dormitorios', 
             'baños', 'cocheras', 'nombre', 'alcaldi', 'geometry', 'lat', 'lng']]
data = data.rename(columns= {'nombre': 'colonia', 'alcaldi': 'alcaldia'})
data.head()

,precio_m2,superficie_total,categoria,dormitorios,baños,cocheras,colonia,alcaldia,geometry,lat,lng
0,60144.927536,138.0,departamento,2.0,3.0,2.0,POLANCO REFORMA (POLANCO),MIGUEL HIDALGO,POINT (-99.19263 19.43773),19.437734,-99.192631
1,104651.162791,172.0,departamento,2.0,2.0,2.0,POLANCO REFORMA (POLANCO),MIGUEL HIDALGO,POINT (-99.19823 19.43274),19.432741,-99.198231
2,85919.540230,174.0,departamento,2.0,2.0,2.0,POLANCO REFORMA (POLANCO),MIGUEL HIDALGO,POINT (-99.19745 19.43697),19.436965,-99.197446
3,5092.622951,183.0,departamento,3.0,3.0,2.0,POLANCO REFORMA (POLANCO),MIGUEL HIDALGO,POINT (-99.20045 19.43530),19.435298,-99.200454
4,93125.000000,160.0,departamento,2.0,2.0,2.0,POLANCO REFORMA (POLANCO),MIGUEL HIDALGO,POINT (-99.19560 19.43402),19.434020,-99.195601

In [38]:
# data = data.to_crs(epsg= 6372)

In [136]:
# metro = gpd.read_file('raw/estaciones_del_metro/estaciones_del_metro.shp')
# metro = metro.to_crs(epsg= 6372)
# metro.head()

,_id,id,g_pnt_2,geo_shp,name,descrpt,lon,lat,line_st,geometry
0,1,0,"19.3757967002,-99.1877081963","{""type"": ""Point"", ""coordinates"": [-99.18770819...",Mixcoac,Linea 12,-99.187708,19.375797,Linea 12-Mixcoac,POINT (2794579.814 822675.920)
1,2,1,"19.3705202583,-99.1648166498","{""type"": ""Point"", ""coordinates"": [-99.16481664...",Zapata,Linea 12,-99.164817,19.370520,Linea 12-Zapata,POINT (2796988.842 822140.823)
2,3,2,"19.3614164661,-99.1516874947","{""type"": ""Point"", ""coordinates"": [-99.15168749...",Eje Central,Linea 12,-99.151687,19.361416,Linea 12-Eje Central,POINT (2798383.912 821163.374)
3,4,3,"19.3575230891,-99.1214990292","{""type"": ""Point"", ""coordinates"": [-99.12149902...",Mexicaltzingo,Linea 12,-99.121499,19.357523,Linea 12-Mexicaltzingo,POINT (2801554.602 820796.837)
4,5,4,"19.3377244141,-99.1090561035","{""type"": ""Point"", ""coordinates"": [-99.10905610...",Culhuacán,Linea 12,-99.109056,19.337724,Linea 12-Pueblo Culhuacácan,POINT (2802902.009 818638.030)

In [138]:
# def min_distance(point_a, point_b):
#     return point_b.distance(point_a).min()

# data['dist_metro'] = data.geometry.apply(min_distance, args=(metro,))

In [19]:
data.to_file('03_data_total.geojson', driver='GeoJSON')

In [20]:
pd.DataFrame(data.drop(columns='geometry')).to_csv('03_data_total.csv')